.aboutme{
    display: flex;
    justify-content: space-around;
    align-items: top;
    border-color:black;
    border-style: double;
}

.titles{
    border-style: double;
    padding: 0px 100px 0px 100px;
    table-layout: auto;
}

.li{
    border-style: double;
    border-color: black;
    list-style: none;
}