.generaldiv{
    display:flex;
    list-style: none;
    justify-items: center;
    display: flex;
    justify-content: space-around;
    align-items: top;
    border-color: black;
   
    
}

.lireviews{
    border-radius: 20%;
    border-style:double;
    padding: 20px 20px 20px 20px;
}

.otro{
   
    border-color:black;
    border-style: double;
}